@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}

html,body {
    height: 100%;
    min-height: 100%;
}

body{
    background-image: url("./picture/website.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
    
#Serverm {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #fbff00;
}

#head{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    font-weight: bold;
    color:#000000;
}

#descriptrion{
    text-align: center;
    /* border: 1px solid red; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    color:#000000;
}

#time{
    text-align: center;
    /* border: 1px solid red; */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    color:#000000;
}
/* Responsive Styles */
@media only screen and (max-width: 1024px) { /* For Tablets */
    #Serverm {
        font-size: 23px;
        top: 82%;
    }
    #head {
        font-size: 28px;
        top: 38%;
    }
    #descriptrion {
        font-size: 26px;
        top: 48%;
    }
    #time {
        font-size: 26px;
        top: 58%;
    }

    body{
        background-image: url("./picture/website.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #ffe372;
    }
}


@media only screen and (max-width: 768px) { /* For Tablets */
    #Serverm {
        font-size: 17px;
        top: 41%;
    }
    #head {
        font-size: 20px;
        top: 20%;
    }
    #descriptrion {
        font-size: 18px;
        top: 26%;
    }
    #time {
        font-size: 18px;
        top: 32%;
    }

    body{
        background-image: url("./picture/website.png");
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-color: #ffe372;
    }
}

@media only screen and (max-width: 600px) { /* For Smartphones */
    #Serverm {
        font-size: 14px;
        top: 41%;
    }
    #head {
        font-size: 17px;
        top: 22%;
    }
    #descriptrion {
        font-size: 14px;
        top: 28%;
    }
    #time {
        font-size: 14px;
        top: 33%;
    }

    body{
        background-image: url("./picture/website.png");
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-color: #ffe372;
    }
}

@media only screen and (max-width: 480px) { /* For Small Smartphones */
    #Serverm {
        font-size: 14px;
        top: 41%;
    }
    #head {
        font-size: 16px;
        top: 20%;    
    }
    #descriptrion {
        font-size: 14px;
        top: 26%;
    }
    #time {
        font-size: 14px;
        top: 32%;
    }
    
    body{
        background-image: url("./picture/website.png");
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-color: #ffe372;
    }
}
    